/*  global  */

.flex-visible {
    display: flex !important;
}

.hidden {
    display: none !important;
}

/*   Body   */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Product Area    */

.product-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}

/*  Product   */

.product-card {
    padding: 10px 10px;
    margin:  10px 2%;
}

.display-product {
    display: flex;
}

.product-card .container{
    font-weight: bold;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-card:hover {
    background-color: forestgreen;
    border-radius: 16px;
}

.product-card:hover .container{
    color: white;
}

.product-card-picture {
    border-radius: 8px;
}

/*  Filter list     */

.global-filter-list {
    margin: 20px 0 5px 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
}

.specific-filter-list {
    margin: 5px 0 5px 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
}

/* Filter Button */

.filter-button {
    border: 2px solid rgb(0,0,0);
    background-color: white;
    border-radius: 28px;
    font-weight: bold;
    padding: 8px 8px;
}

.filter-button:hover {
    border: 2px dashed black;
}

.active-filter {
    border: 2px solid forestgreen;
    background-color: forestgreen;
    color: white;
}

.filter-drawer {
    display: none;
    position: fixed;
    background-color: white;
    top: 2vw;
    bottom: 2vw;
    right: 1vw;
    border-radius: 8px;
    width: 30vw;
    z-index: 50;
    justify-content: center;
}

/* Reset button */

.reset-button {
    display: none;
    border: 0;
    font-weight: bold;
    padding: 8px 8px;
    background-color: white;
}

.reset-button:hover {
    border: 0;
    font-weight: bold;
    padding: 8px 8px;
    background-color: forestgreen;
    color: white;
    border-radius: 8px;
}

/*  Filter Drawer */

.filter-drawer-category {
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tension-drawer {
    display: none;
}

.type-drawer {
    display: none;
}

.mark-drawer {
    display: none;
}

.price-drawer {
    display: none;
}

.filter-drawer-checkbox-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.filter-drawer-checkbox-container span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid rgba(0,0,0,25%);
    font-size: large;
    font-weight: bold;
}

.filter-drawer-checkbox-container span:last-of-type {
    border-bottom: 0;
}

.filter-drawer-checkbox {
    width: 24px;
    height: 24px;
}

/*   Overlay   */

body:after {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,50%);
}

body.overlay-visible:after {
    display: block !important;
}

/*  A trier   */

.activated-filter-list {
    padding: 0;
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.activated-filter {
    padding: 0 8px;
}

.activated-filter:first-child {
    padding: 0 0;
}

.display-product-with-filter {
    display: flex;
}
