/*  global  */

.flex-visible {
    display: flex !important;
}

.hidden {
    display: none !important;
}

/*  Product Area    */

.one {
    display: flex;
}

.two {
    display: none;
}

.product-list {
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}

/*  Pills   */

.pills {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #ebf5de;
    width: 100%;
    height: 100px;
    margin: 0 0 10px 0;
}

.pill-list {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 98%;
    height: 80%;
    padding: 0;
    gap: 10px;
}

.pill-case {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100px;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    gap: 1rem;
    cursor: pointer;
}

.pill-case:hover {
    text-decoration: underline;
}

/*  MQM */

.multi-question-module {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #ebf5de;
    border-radius: 16px;
}

/*  mqm question area */

.mqm-question-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.mqm-question-area h4{
    padding: 20px 0 0 40px;
    margin: 0;
}

.multi-question-module-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    gap: 50px;
}

.multi-question-module-list * {
    cursor: pointer;
}

.multi-question-module-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    position: relative;
    font-size: xx-large;
    font-weight: bold;
}

.multi-question-module-element-checked {
    background-color: darkseagreen;
}

.multi-question-module-element div{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.multi-question-module-element input {
    position: absolute;
    top: 5px;
    right: 5px;
    accent-color: forestgreen;
}

/*  mqm completed */

.mqm-completed {
    display: none;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.mqm-completed h4{
    padding: 20px 0 0 40px;
    margin: 0;
}

.mqm-completed-text-area {
    height: fit-content;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
}

/*  mqm button area */

.multi-question-module-button {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10px;
}

.multi-question-module-button > * {
    cursor: pointer;
}

#mqm-applied-button {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

#mqm-applied-button:hover {
    background-color: forestgreen;
    border: 1px solid forestgreen;
    color: white;
}

.mqm-button-navigation {
    display: none;
}

.mqm-button-navigation:hover {
    text-decoration: underline;
}

/*  Product   */

.product-card {
    display: none;
    padding: 10px 10px;
    margin:  10px 2%;
}

.display-product {
    display: flex;
}

.product-card .container{
    font-weight: bold;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-card:hover {
    background-color: forestgreen;
    border-radius: 16px;
}

.product-card:hover .container{
    color: white;
}

.product-card-picture {
    border-radius: 8px;
}

/*  Filter list     */

.global-filter-list {
    margin: 20px 0 5px 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.specific-filter-list {
    margin: 5px 0 5px 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

/* Filter Button */

.filter-button {
    border: 2px solid rgb(0,0,0);
    background-color: white;
    border-radius: 28px;
    font-weight: bold;
    padding: 8px 8px;
    cursor: pointer;
}

.filter-button:hover {
    border: 2px dashed black;
}

.active-filter {
    border: 2px solid forestgreen;
    background-color: forestgreen;
    color: white;
}

.filter-drawer {
    display: none;
    position: fixed;
    background-color: white;
    top: 2vw;
    bottom: 2vw;
    right: 1vw;
    border-radius: 8px;
    width: 30vw;
    z-index: 50;
    justify-content: center;
}

/* Tag */

.activated-filter-list {
    margin: 5px 0 20px 0;
    padding: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.filter-tag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 28px;
    background-color: black;
    height: fit-content;
    width: fit-content;
}

.filter-tag-text {
    padding: 8px 8px;
    color: white;
}

.filter-tag-button {
    border: 0;
    border-radius: 2450px;
    margin: 0 8px 0 0;
    padding: 4px 8px;
    background-color: #dfdfdf;
}

.filter-tag-button:hover {
    background-color: #fff;
}

/* Reset button */

.reset-button {
    display: none;
    border: 0;
    font-weight: bold;
    padding: 8px 8px;
    background-color: white;
}

.reset-button:hover {
    border: 0;
    font-weight: bold;
    padding: 8px 8px;
    background-color: forestgreen;
    color: white;
    border-radius: 8px;
}

/*  Filter Drawer */

.filter-drawer-category {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tension-drawer {
    display: none;
}

.type-drawer {
    display: none;
}

.mark-drawer {
    display: none;
}

.price-drawer {
    display: none;
}

.filter-drawer-checkbox-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.filter-drawer-checkbox-container span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid rgba(0,0,0,25%);
    font-size: large;
    font-weight: bold;
}

.filter-drawer-checkbox-container span:last-of-type {
    border-bottom: 0;
}

.filter-drawer-checkbox {
    width: 24px;
    height: 24px;
}

.filter-drawer-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15%;
}

.filter-drawer-button-container button {
    width: 40%;
    height: 3rem;
    font-size: large;
    border: 0;
    border-radius: 8px;
}

.filter-drawer-button-container button:first-of-type {
    background-color: darkslateblue;
    color: white;
}

/*   Overlay   */

body:after {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,50%);
}

body.overlay-visible:after {
    display: block !important;
}

/*  Page selector   */

.page-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 16px;
}

.page-selector {
    width: 100px;
    height: 42px;
    border-radius: 8px;
}

.page-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 8px;
    width: 42px;
    height: 42px;
}

.page-navigator-off {
    opacity: 50%;
}

/*  A trier   */

.activated-filter {
    padding: 0 8px;
}

.activated-filter:first-child {
    padding: 0 0;
}

.display-product-with-filter {
    display: flex;
}
