
body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.header-components {
    width: 100%;
    background-color: forestgreen;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.header_logo_container {
    margin: 20px 30px;
}

#logo_leroy_merlin {
    width: 90px;
    height: auto;
}

#user_logo {
    width: 50px;
    height: 50px;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,50%);
    z-index: 2;
}

#search_container {
    width: 35%;
    height: 100px;
    background-color: rgba(255,255,255,0%);
    z-index: 3;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

#searchbar_container {
    display: flex;
    justify-content: center;
}

#searchbar {
    margin: 20px 0;
    padding: 18px 10px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid forestgreen;
    font-size: 20px;
    z-index: 3;
}

#history_list {
    margin: 0;
    padding: 10px;
    display: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.history_element {
    z-index: 0;
    width: 100%;
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: left;
}

.history_element:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.history_link {
    margin: 0;
    padding: 2% 5%;
    width: 95%;
    font-size: 20px;
    text-align: left;
}

.history_link:hover {
    background-color: rgb(150,150,150);
}
